/* styles custom */
html {
    height: 100vh;
}
body {
    height: 100%;
}
:root {
  --bg-color: #131313;
  --assistant-color: #191919;
  --theme-color: #e4e4dd;
  --font-color: #ddd;
  --heading-color: #fff;
  --border-color: #ffffff1a;
  --smooth-color: #f9f9f9;
  --reverse-color: #f9f9f9;
  --reverse-heading-color: #000;
  --bg-btn: #0a0909;
}
.main-wrapper {
    background-color: bisque;
    height: 100%;
}
.loading-count {
  color: #fff;
}
/* styles for loader */
#dsn_preloader {
    position: fixed;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    z-index: 98;
    flex-direction: column;
    overflow: hidden;
    left: 0;
  }
  #dsn_preloader .bg-load {
    z-index: -1;
  }
  @media only screen and (min-width: 992px) {
    #dsn_preloader {
      --width-loading-circle: 25vw ;
    }
  }
  @media only screen and (max-width: 991px) {
    #dsn_preloader {
      --width-loading-circle: 50vw ;
    }
  }
  #dsn_preloader svg.v-middle, #dsn_preloader .loading-circle {
    width: var(--width-loading-circle);
    height: var(--width-loading-circle);
  }
  #dsn_preloader svg.v-middle path {
    display: block;
    stroke-dasharray: 310px;
    stroke-dashoffset: 310px;
    stroke: url(#linearColors);
    animation: spin 1s infinite linear;
    transform-origin: center;
    width: 100%;
    height: 100%;
    stroke-width: 1.4;
  }
  #dsn_preloader .loading-circle {
    font-size: 7vw;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #dsn_preloader .loading-text {
    position: absolute;
    font-size: 22px;
    color: var(--heading-color);
    left: 5%;
    bottom: 50px;
  }
  
  .dsnload {
    top: 1rem;
    left: var(--dsn-gap-container);
  }
  .dsnload .p-absolute {
    position: absolute;
  }
  .dsnload .dsnload__img {
    display: block;
    transform-origin: bottom left;
    animation: moveIn 2s 0s cubic-bezier(0.36, 0, 0.06, 1) alternate infinite;
  }
  .dsnload .dsnload__img img {
    width: 96px;
  }
  .dsnload .dsnload__row:nth-child(1) {
    -webkit-clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
            clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
  }
  .dsnload .dsnload__row:nth-child(1) .dsnload__img {
    transform: translateY(-0.1em);
  }
  .dsnload .dsnload__row:nth-child(2) {
    -webkit-clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
            clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
  }
  .dsnload .dsnload__row:nth-child(2) .dsnload__img {
    transform: translateY(-0.3em) scaleY(1.1);
  }
  .dsnload .dsnload__row:nth-child(3) {
    -webkit-clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
            clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
  }
  .dsnload .dsnload__row:nth-child(3) .dsnload__img {
    transform: translateY(-0.5em) scaleY(1.2);
  }
  .dsnload .dsnload__row:nth-child(4) {
    -webkit-clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
            clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
  }
  .dsnload .dsnload__row:nth-child(4) .dsnload__img {
    transform: translateY(-0.7em) scaleY(1.3);
  }
  .dsnload .dsnload__row.dsnload__row--sibling {
    position: absolute;
    top: 1rem;
    left: 5%;
    -webkit-user-select: none;
            user-select: none;
  }
  
  @keyframes moveIn {
    50%, 100% {
      transform: translateY(0em);
    }
    0% {
      opacity: 0;
      filter: blur(5px);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.bg-load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgb(47, 47, 47);
  }
  .bg-load svg {
    fill: var(--dsn-color-icon, var(--theme-color));
    pointer-events: none;
    width: 100%;
    height: 150px;
  }
  .bg-load svg.dsn-separator-bottom {
    transform: translateY(148px);
  }
  .bg-load svg.dsn-separator-top {
    transform: translateY(-148px) rotate(180deg);
  }
  .v-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* global */
  .dsn-ajax-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 900199;
  }
  .dsn-ajax-effect {
    overflow: hidden !important;
  }
  .d-flex {
    display: flex;
  }
  .flex-column {
    flex-direction: column;
  }
  .justify-content-between {
    justify-content: space-between;
  }
  .text-center {
    text-align: center;
  }
